# Mac OS X 시스템이 finder로 폴더에 접근할 때 자동으로 생기는 파일, 해당 디렉토리 크기, 아이콘의 위치, 폴더의 배경 등과 같은 메타데이터를 저장하는 파일
.DS_Store

# Windows 탐색기가 이미지 파일이 포함된 폴더를 열 때, 미리보기를 빠르게 표시하기 위해 썸네일(작은 이미지 미리보기) 데이터를 저장하는 파일
./asset/Thumbs.db
